* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --titulo-color: #1E2D59; 
    --button-color: #F2A25C;
}

hr {
    width: 100%;
    border: none;
    border-top: 5px solid #bfd5f0;
}

nav {
    display: flex;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #CEDEF2;
}

header {
    display: flex;
    flex: 1 1 100vw;
    background-color: #8DAEF2;
}

header nav a {
    color: white;
}

header #logo {
    margin-left: 5%;
    width: 8rem;
}

.menu__nav {
    flex: 1 1 100vw;
    justify-content: flex-end;
    align-items: center;
}

.menu__nav a {
    margin: 1% 5% 1% 5%;
}

.introducao {
    display: flex;
    justify-content: space-between;
    margin: 10% 15% 10% 15%;
    gap: 20px;
    align-items: center;
}

.introducao img {
    border-radius: 1rem;
}

.introducao p::first-letter {
    margin-left: 5%;
}

.introducao__conteudo {
    width: 614px;
}

.introducao__links {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.introducao__links__link {
    background-color: var(--button-color);
    border: 10px solid var(--button-color);
    font-weight: bold;
    border-radius: 15px;
    color: white;
}

.introducao__links__link:hover {
    /* Nada implementado no passar do mouse */
}

.introducao__conteudo__titulo {
    margin-bottom: 5%;
    font-size: 3rem;
    color: var(--titulo-color);
}

.servicos-saude {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: 10% 15% 10% 15%;
    gap: 20px;
    align-items: center;
}

.servicos-saude__conteudo {
    display: flex;
    flex-wrap: wrap;
    width: 614px;
}

.servicos-saude__conteudo__titulo {
    font-size: 3rem;
    color: var(--titulo-color);
}

.servicos-saude__conteudo__subtitulo {
    font-size: 2rem;
    color: var(--titulo-color);
}

h3 {
    font-size: 1rem;
}

.servicos-saude img {
    border-radius: 1rem;
    width: 30%;
}

.servicos-saude__links {
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.servicos-saude__links__link {
    background-color: var(--button-color);
    border: 10px solid var(--button-color);
    font-weight: bold;
    border-radius: 15px;
    color: white;
}

footer {
    display: flex;
    height: 50px;
    background-color: var(--titulo-color);
    color: white;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

/* Quiz */
.images {
    display: none;
    width: 15rem;
    margin: 0;
}

/* Quiz */

.container {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5%;
    background-color: #aebbcc;
}

.quiz-container__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    display: none;
}

.quiz-container__buttons__button {
    background-color: var(--button-color);
    border: 10px solid var(--button-color);
    color: white;
    border-radius: 10px;
}


.quiz-container.hidden {
    display: none;
}

.quiz-container__title {
    color: var(--titulo-color);
    font-size: 3rem;
    margin-bottom: 2%;
}

.quiz-submit-button {
    background-color: var(--button-color);
    color: white;
    font-weight: 600;
    border: 0px;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2%;
}

.quiz-submit-button:hover {
    background-color: #d18c50;
    color: white;
    font-weight: 600;
    border: 0px;
    padding: 1rem;
    border-radius: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.question:last-child {
    margin: 0;
}

.question label {
    margin: 1%;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

#open-menu, #close-menu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 5% 0 5%;
    display: none;
}

@media only screen and (max-width: 712px){
    
    .servicos-saude {
        flex-wrap: wrap-reverse;
        margin: 5% 10% 5% 10%;
        justify-content: center;
    }
    
    header {
        position: absolute;
        width: 100vw;
    }

    .introducao {
        flex-wrap: wrap-reverse;
    }

    .servicos-saude img {
        width: 50%;
    }

    .introducao img {
        width: 15rem;
    }

    .quiz-container__title {
        font-size: 1rem;
    }

    .quiz-container {
        width: 100vw;
    }

    /* Menu responsivo */
    #open-menu, #close-menu {
        display: block;
        color: white;
    }

    #open-menu {
        margin-left: auto;
    }

    #close-menu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    .menu__nav {
        justify-content: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        gap: 1em;
        margin: 0;
        display: none;
    }

    .menu__nav a {

    }

    .menu__nav.open {
        display: flex;
    }

}