* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
header, nav, main, aside, footer {
    margin: 3px;
    display: flex;
    background-color: #a1a1a1;
}
 
header {/* { Flex Container */
    /* Primeiro valor: Determina o quanto o item pode crescer em relação aos outros itens quando há espaço disponível
    Segundo valor: Encolhimento, quando 1, significa que vai encolher para se ajustar ao tamanho disponível
    Terceiro valor: Tamanho inicial antes de qualquer crescimento ou encolhimento
    */
    flex: 1 1 100vw;
    height: 100px;
}

header #logo {
    flex: 0 1 200px;
    background-color: #c9c9c9;
}

#openMenu, #closeMenu {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    /* Cima, direita, baixo, esquerda */
    padding: 0 5px 0 5px;
    cursor: pointer;
    display: none;
}


nav {/* { Flex Container */
    flex: 1 1 100vw;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    margin: 3%;
    font-size: 20pt;
}

a {
    text-decoration: none;
    color: inherit; /* Herdar o valor da propriedade do elemento pai */
}

    
main {/* { Flex Container */
    flex: 20 1 500px;
    height: calc(100vh - 224px); /* Subtraindo 224px por conta da soma da altura de header e footer*/
}

aside {/* { Flex Container */
    flex: 1 1 200px;
}

footer {/* { Flex Container */
    flex: 1 1 100vw;
    height: 100px;
}

@media only screen and (max-width: 923px) { /* Quando a tela for menor ou igual ao número especificado */
    main {
        height: calc(100vh - 330px); /* Aqui estou subtraindo o header, footer, aside e agora NAV que ocupa 100px */
    }

    aside {
        flex: 1 1 100vw;
        height: 100px; /* Ocupando 100% da visão horizontal */
    }
}

@media only screen and (max-width: 717px){
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        margin: 0;
        position: fixed;
        flex-direction: column;
        /* View Width & View Height */
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        /* Centraliza verticalmente pois o eixo foi alterado para colunas */
        justify-content: center;
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
    }

}
